#formulario{
    max-width: 700px;  
    margin: 0 ;
}
input[type="text"],
input[type="email"],
input[type="url"],
textarea,
select{
    width: 100%;
}
fieldset{
    border: none;
}
textarea{
    height: 200px;
}
fieldset legend{
    font-weight: bold;    
    font-size: 28px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

main h2{
    font-size: 17px;
    font-weight: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}